{% extends 'base.html.twig' %}
{% block title %}
    {{ 'portfolio.index.title' | trans }}
{% endblock %}
{% block header %}

    <!-- Portfolio Index Header -->

    <header id="portfolio-header">
        {% include 'portfolio/header.html.twig' %}
    </header>
{% endblock %}
{% block body %}

    <!-- Portfolio Index Body -->

    <div class="container-fluid">

        <!-- Portfolio Index Timeline -->

        <section id="portfolio-timeline">
            {% include 'portfolio/timeline.html.twig' %}
        </section>

        <!-- Portfolio Index Projects -->

        <section id="portfolio-projects" class="bg-light">
            {% include 'portfolio/projects.html.twig' %}
        </section>

    </div>
{% endblock %}
{% block footer %}

    <!-- Portfolio Index Footer -->

    <header id="portfolio-footer">
        {% include 'portfolio/footer.html.twig' %}
    </header>
{% endblock %}
