{% extends 'base.html.twig' %}
{% block header %}
    <header id="website-header">
        {% include 'website/header.html.twig' %}
    </header>
{% endblock %}
{% block body %}
    <nav id="website-navigation">
        {% include 'website/navigation.html.twig' %}
    </nav>
    <section id="website-prestation">
        {% include 'website/prestation.html.twig' %}
    </section>
    <section id="website-contact">
        {% include 'website/contact.html.twig' %}
    </section>
{% endblock %}
{% block footer %}
    <footer>
        {% include 'website/footer.html.twig' %}
    </footer>
{% endblock %}
