{% extends 'base.html.twig' %}
{% block header %}

    <!-- Website Index Header -->

    <header id="website-header">
        {% include 'website/header.html.twig' %}
    </header>
{% endblock %}
{% block navigation_content %}

    <!-- Services Link -->

    <li class="nav-item">
        <a class="nav-link" href="#website-services">{{ 'navigation.services' | trans }}</a>
    </li>

    <!-- Contact Link -->

    <li class="nav-item">
        <a class="nav-link" href="#website-contact">{{ 'navigation.contact' | trans }}</a>
    </li>
{% endblock %}
{% block body %}

    <!-- Website Index Body -->

    <div class="container-fluid">

        <!-- Website Index Services -->

        <section id="website-services">
            {% include 'website/services.html.twig' %}
        </section>

        <!-- Website Index Proficiency -->

        <section id="website-proficiency" class="bg-light">
            {% include 'website/proficiency.html.twig' %}
        </section>

        <!-- Website Index Process -->

        <section id="website-process">
            {% include 'website/process.html.twig' %}
        </section>

        <!-- Website Index Contact -->

        <section id="website-contact" class="bg-light">
            {% include 'website/contact.html.twig' %}
        </section>
    </div>
{% endblock %}
{% block footer %}

    <!-- Website Index Footer -->

    <footer>
        {% include 'website/footer.html.twig' %}
    </footer>
{% endblock %}
