{% extends 'base.html.twig' %}
{% block header %}
    <header id="index-header">
        {% include 'website/header.html.twig' %}
    </header>
{% endblock %}
{% block body %}
    <nav id="index-navigation">
        {% include 'navigation.html.twig' %}
    </nav>
    <section id="index-prestation">
        {% include 'website/prestation.html.twig' %}
    </section>
    <section id="index-proficiency">
        {% include 'website/proficiency.html.twig' %}
    </section>
    <section id="index-process">
        {% include 'website/process.html.twig' %}
    </section>
    <section id="index-contact">
        {% include 'website/contact.html.twig' %}
    </section>
{% endblock %}
{% block footer %}
    <footer>
        {% include 'website/footer.html.twig' %}
    </footer>
{% endblock %}
