{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.index.title' | trans }}
{% endblock %}
{% block body %}
    <!-- TODO: Add Labels -->
    <nav id="website-navigation" aria-label="TODO">
        {% include 'website/navigation.html.twig' %}
    </nav>
    <div class="container-fluid">
    </div>

{% endblock %}
