@import "~bootstrap/scss/bootstrap.scss";

/**
 * HTML Tags Custom Style
 */

html {
  scroll-behavior: smooth;
}

section:nth-of-type(2n + 1) {
  background-color: black;
}

/**
 * HTML Classes Custom Style
 */

.navbar {
  opacity: 0;
  transition: opacity .5s;
  background-color: rgba(0, 0, 0, .8);
}

.navbar:hover {
  opacity: 1 !important;
}

.card-body img {
  transition: transform .3s;
}

.card-body img:hover {
  transform: scale(1.3);
}

.prestation {
  transition: transform .3s;
}

.prestation:hover {
  transform: scale(1.1);
}
