{% block blog_header %}

    <!-- Blog Header -->

    <div class="container-fluid">
        <div class="row mt-5">

            <!-- Blog Header Title -->

            <div class="col-12">
                <h1 class="h1 text-white">
                    {{ 'blog.header.title' | trans }}
                </h1>
            </div>
        </div>
    </div>
{% endblock %}
