{% extends 'base.html.twig' %}
{% block title %}
    {{ 'blog.index.title' | trans }}
{% endblock %}
{% block header %}

    <!-- header.html.twig -->

    <header>
        {% include 'blog/header.html.twig' %}
    </header>
{% endblock %}
{% block body %}

    <!-- Blog Index Body -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10">

                <!-- Blog Index Articles -->

                <section id="index-articles">
                    {% include 'blog/articles.html.twig' %}
                </section>
            </div>

            <div class="col-12 col-md-2">

                <!-- Blog Index About -->

                <section id="index-about" class="bg-light">
                    {% include 'blog/about.html.twig' %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}

    <!-- Blog Index Footer -->

    <footer>
        {% include 'blog/footer.html.twig' %}
    </footer>
{% endblock %}
